{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <title>MOSUN HOMES & REALTORS LIMITED</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <!--Navigation menu-->
    <!--Navigation menu-->
    <nav class="navigation_menu">
        <button href="#" class="ham-container">
            <span class="hm-menu t1"></span>
            <span class="hm-menu t2"></span>
            <span class="hm-menu t3"></span>
        </button>
        <ul class="list-container">
            <span class="logo list1"><a href="{% url 'blog:index' %}" class="logo-text">Mosun Homes <span class="logo-text-2">And Realtors</span></a></span>
            <span class="list">
                <li class=" list2 this"><a href="{% url 'blog:index' %}">Home</a></li>
                <li class="active active-mobile list3 this"><a href="{% url 'blog:about' %}">About</a></li>
                <li class="list4 this"><a href="{% url 'blog:portfolio' %}">Property</a></li>
                <li class="list6 this"><a href="{% url 'blog:contact' %}">Contact</a></li>
            </span>
        </ul>
    </nav>

    <!--body text start-->
    <section class="section_about">
        <div class="header_container">
            <div class="header-vl">
            </div>
            <div class="home-about">Home &nbsp;<span class="about-about">/&nbsp;About</span></div>
        </div>
        <div class="img_text_div">
            <div class="container-div-about">
                <img src="{% static 'img/avi-waxman-f9qZuKoZYoY-unsplash.jpg' %}" alt="" class="about-image-1">
                <h3 class="img-text-about" id="c-image-about">Mosun Homes and Realtors<span class="hyphen"></span> <br> since 2015<br><span
                        class="img-text-about-1">Real Estate</span></h3>
            </div>
            <div class="second-about-section">

            </div>
            <div class="container-sec3">
                <div class="sec3-about-img"><img src="{% static 'img/lekki3.jpeg' %}" alt="" class="abt-img3" id="abt-img3"></div>
                <div class="sec3-about-content">
                    <h3 class="exclusive">Mosun Homes and Realtors <div class="about-sta">About-Us</div>
                    </h3>
                    <h4 class="randomtext"></h4>
                    <h5 class="randomtext2">
                        Mosun Homes and Realtors Limited prides itself in being a company that not only provides , specializing in real estate investments and sales, but has been recognized as a leader in property management and homeowner association management.
                        <br><br>
                        If you have questions about credit or legal matters, buying, selling or leasing, you can trust us to find you what you need fast. We'll make sure you feel confident and educated every step of the way.  
                        <br><br>
                        We also manage the assets in which we invest, which creates an alignment of interest with investors and results in the delivery of consistent quality.
                        <br><br>
                        Mosun Homes and Realtors Limited disciplined Real Estate prowess is driven by specialization in assets, experience, and in-depth quantitative and qualitative analysis. Our success is driven by integrity, transparency, and an ethics-based culture that understands and serves the needs of our clients.
                    </h5>
                </div>
                <div>

                </div>
            </div>
            <!--Team-->
            <h2 class="team_header">Meet The Team</h2>
            <div class="team_member">
                <div class="member">
                    <div>
                        <img src="{% static 'img/teamimg1.jpg' %}" alt="" class="sec3-about-img">
                    </div>
                </div>
                <div class="membtext">
                    <h3 class="membspace">Ademola Adeosun</h3>
                    <h5 class="membspace" style="color: #2eca6a;">Managing Director and CEO</h4>
                    <p id="agentext">Ademola has been a real estate agent and investor for the last 5 years. From managing properties, to sale and rentals, and attending to the specific needs of each client. The secret is always making sure clients understand value and management.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="fotter pages">
        <div class="footer-top-container">
            <div class="grids">
                <h2 class="foter-heading">Mosun Homes and Realtors</h2>
                <div class="description-footer">If you don’t own a home, buy one. If you own a home, buy another one. If you own two homes, buy a third.</div>
                <div><span class="phone-footer" style="color: #2ECA6A;">Phone: &nbsp;</span>+2349137245058</div>
                <div><span class="mail-footer"  style="color: #2ECA6A;">Email: &nbsp;</span>info@mosunhomes-realtors.com</div>
            </div>
            <div class="grids">
                <h2 class="footer-heading">The Company</h2>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Site Map</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Legal</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Affiliate</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Privacy Policy</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="menu-foot">
                <ul>
                    <li><a href="{% url 'blog:index' %}" class="home-footer">Home</a></li>
                    <li><a href="{% url 'blog:about' %}" class="home-footer">About</a></li>
                    <li><a href="{% url 'blog:portfolio' %}" class="home-footer">Property</a></li>
                    <li><a href="{% url 'blog:contact' %}" class="home-footer">Contact</a></li>
                </ul>
            </div>
            <div class="menu-foot">
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
            </div>
        </div>
        <h3 class="copyright">Copyright &copy; 2021 Mosun Homes Realtors Limited. All rights reserved</h3>
    </footer>
    <div id="preloader"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../static/js/script.js"></script>
   
</body>
</html>