{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="lDxrGb-wz9Z-WcAr3VFqMVs16-qS8TTKQb7TaZPiVZ0" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Contact us</title>
</head>
<body>
    <header>
        <!--The Logo-->
        <div class="mainlogo">
            <div class="headerimage">
                <img class="mhr" src="{% static 'img/MHR.svg' %}" alt="" srcset="">
            </div>
            <div class="headerimage">
                <img class="mosun" src="{% static 'img/MOSUN HOMES & REALTORS LIMITED.svg' %}" alt="" srcset="">
            </div>
        </div>
        <nav class="nav_bar">
            <span class="navbar-toggle" id="js-nav_bar-toggle">
                <i class="fa fa-bars"></i>
            </span>
            <ul class="main_nav" id="js-menu">
                <li><a class="nav_links" href="{% url 'blog:index' %}">HOME</a></li>
                <li><a class="nav_links" href="{% url 'blog:about' %}">ABOUT</a></li>
                <li><a class="nav_links" href="{% url 'blog:portfolio' %}">PORTFOLIO</a></li>
                <li><a class="nav_links" href="{% url 'blog:contact' %}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
        <div class="contact">
            <div>
                <h1 class="cont">Contact</h1>
            </div>
            <h4 class="cont_mo" style="color: black;">MOSUN HOMES & REALTORS LIMITED</h4>
            <h5 class="canon">Plot 16, Block 78 Dan Ogbeide Cl, Lekki Phase 1 106104, Lagos</h5>
            <h5 class="mail"><a href="mailto:info@mosunhomes-realtors.com">info@mosunhomes-realtors.com</a></h5>
            <h5 class="phone">+2349139933722</h5>
        </div>
        <div id="container">
            <form action="https://formspree.io/f/mqkwnaae" name="contact_form" method="POST">
                <label for="first_name">Full Name</label>
                <br>
                <input id="divided" name="first_name" type="text" required placeholder="First name"/>
                <input id="divided" name="last_name" type="text" required placeholder="Last name"/>
                <br>
                <label for="email">Email</label>
                <br>
                <input name="email" type="email" required placeholder="you@domain.com"/>
                <br>
                <label for="message">Message</label><br>
                <textarea name="message" cols="30" rows="10" placeholder="Enter your message here ..." required></textarea>
                <div class="center">
                    <input type="submit" value="Submit">
                </div>
            </form>	
        </div>
    <footer>
        <h3>Copyright &copy; 2021 Mosun Homes Realtors Limited. All rights reserved</h3>
            <div class="social_links">
                <a href="#"><img class="footimg" src="{% static 'img/twitter.png' %}" alt="" srcset=""></a>
                <a href="https://www.instagram.com/mosunmolahomes/" target="_blank"><img class="footimg" src="{% static 'img/instagram.png' %}" alt="" srcset=""></a>
                <a href=""><img class="footimg" src="{% static 'img/facebook.png' %}" alt="" srcset=""></a>
            </div>
            <div class="footerlogo">
                <img class="footerimg" src="{% static 'img/Group 35.svg' %}" alt="" srcset="">
            </div>
        </div>
    </footer>
    <script async src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>