{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSUN HOMES & REALTORS LIMITED</title>
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
	<nav class="navigation_menu">
		<button href="#" class="ham-container">
			<span class="hm-menu t1"></span>
			<span class="hm-menu t2"></span>
			<span class="hm-menu t3"></span>
		</button>
		<ul class="list-container">
			<span class="logo list1"><a href="{% url 'blog:index' %}" class="logo-text">Mosun Homes <span class="logo-text-2">And Realtors</span></a></span>
          	<span class="list">
				<li class="list2 this"><a href="{% url 'blog:index' %}">Home</a></li>
				<li class="list3 this"><a href="{% url 'blog:about' %}">About</a></li>
				<li class="list4 this"><a href="{% url 'blog:portfolio' %}">Property</a></li>
				<li class="active active-mobile list6 this"><a href="{% url 'blog:contact' %}">Contact</a></li>
			</span>
		</ul>
  	</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters mb-5">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact Us</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form action="https://formspree.io/f/mqkwnaae" method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div id="map">
									<img class="home-img" src="{% static 'img/lekki3.jpeg' %}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p style="color: #2ECA6A;"><span>Address:</span> Plot 16, Block 78 Dan Ogbeide Cl, Lekki Phase 1 106104, Lagos</p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-phone"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="tel://2349139933722">+2349139933722</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-paper-plane"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="mailto:info@mosunhomes-realtors.com">info@mosunhomes-realtors.com</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-globe"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Website</span> <a href="#">mosunhomes-realtors.com</a></p>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="fotter pages">
        <div class="footer-top-container">
            <div class="grids">
                <h2 class="foter-heading">Mosun Homes and Realtors</h2>
                <div class="description-footer">If you don’t own a home, buy one. If you own a home, buy another one. If you own two homes, buy a third.</div>
                <div><span class="phone-footer" style="color: #2ECA6A;">Phone: &nbsp;</span>+2349139933722</div>
                <div><span class="mail-footer"  style="color: #2ECA6A;">Email: &nbsp;</span>info@mosunhomes-realtors.com</div>
            </div>
            <div class="grids">
                <h2 class="footer-heading">The Company</h2>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Site Map</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Legal</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Affiliate</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Privacy Policy</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="menu-foot">
                <ul>
                    <li><a href="{% url 'blog:index' %}" class="home-footer">Home</a></li>
                    <li><a href="{% url 'blog:about' %}" class="home-footer">About</a></li>
                    <li><a href="{% url 'blog:portfolio' %}" class="home-footer">Property</a></li>
                    <li><a href="{% url 'blog:contact' %}" class="home-footer">Contact</a></li>
                </ul>
            </div>
            <div class="menu-foot">
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
            </div>
        </div>
        <h3 class="copyright">Copyright &copy; 2021 Mosun Homes Realtors Limited. All rights reserved</h3>
    </footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../../static/js/script.js"></script>
</body>
</html>

