{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>MOSUN HOMES & REALTORS LIMITED</title>
</head>

<body>
    <nav class="navigation_menu">
        <button href="#" class="ham-container">
            <span class="hm-menu t1"></span>
            <span class="hm-menu t2"></span>
            <span class="hm-menu t3"></span>
        </button>
        <ul class="list-container">
            <!-- make logo bigger -->
            <h1><span class="logo list1"><a href="{% url 'blog:index' %}" class="logo-text">Mosun Homes<span class="logo-text-2">And Realtors</span></a></span></h1>
            <span class="list">
                <li class="active active-mobile list2 this"><a href="{% url 'blog:index' %}">Home</a></li>
                <li class=" list3 this"><a href="{% url 'blog:about' %}">About</a></li>
                <li class="list4 this"><a href="{% url 'blog:portfolio' %}">Property</a></li>
                <li class="list6 this"><a href="{% url 'blog:contact' %}">Contact</a></li>
            </span>
        </ul>
    </nav>
    <div id="carousel">
        <div id="slide-container">
            <div class="slide" data-slideIndex="0">
                <div class="carousel_info">
                    <h4 class="ctext">Lekki, &nbsp; Lagos <br>78345</h4>
                    <div class="container_text">
                        <h2 class="ctext2"><span class="num">LEKKI</span>&nbsp;<br> PHASE, LAGOS</h2>
                    </div>
                </div>
                <img class="home-img" src="{% static 'img/lekki2.jpeg' %}">
            </div>
            <div class="slide" data-slideIndex="1">
                <div class="carousel_info">
                    <h4 class="ctext">Lekki, &nbsp; Lagos <br>78345</h4>
                    <div class="container_text">
                        <h2 class="ctext2"><span class="num">IBEJU</span>&nbsp;<br> LEKKI, LAGOS</h2>
                    </div>
                </div>
                <img class="home-img" src="{% static 'img/lekki3.jpeg' %}">
            </div>
            <div class="slide" data-slideIndex="2">
                <div class="carousel_info">
                    <h4 class="ctext">Lekki, &nbsp; Lagos <br>78345</h4>
                    <div class="container_text">
                        <h2 class="ctext2"><span class="num">LEKKI</span>&nbsp;<br> PHASE, LAGOS</h2>
                    </div>
                </div>
                <img class="home-img" src="{% static 'img/lekki.jpeg' %}">
            </div>
            <!-- <div class="slide" data-slideIndex="3">
            <div class="slide-banner">See penguins! <a href="">Buy tickets now.</a></div>
            <img width="1200" height="600" src="./penguins.jpg">
          </div>
          <div class="slide" data-slideIndex="4">
            <div class="slide-banner">Take a ride on the wheel! <a href="">Buy tickets now.</a></div>
            <img width="1200" height="600" src="./wheel.jpg">
          </div> -->
        </div>
        <div id="back-button" class="arrow back">←</div>
        <div id="forward-button" class="arrow forward">→</div>
        <div class="slide-indicators">
            <div class="slide-indicator active"></div>
            <div class="slide-indicator"></div>
            <div class="slide-indicator"></div>
            <!-- <div class="slide-indicator"></div>
          <div class="slide-indicator"></div> -->
        </div>
    </div>

    <!--end-->

    <!--Our services-->
    <section class="section-services">
        <h1 class="service-header">Our Services</h1>
        <div class="section-card">
            <div class="card grid">
                <div class="grid-1 g1">
                    <span class="icon icon-1">Property Management<span class="material-symbols-outlined" id="ls-service">
                        real_estate_agent
                        </span></span>
                    <br>
                    <h3 class="grid-1-text">We pride ourselves in managing residential and business properties for our owners. Our property manager agents work with all of our owners to achieve the best results for our clients.</h3>
                </div>
            </div>
            <div class="card grid">
                <div class="grid-1 g2">
                    <span class="icon icon-2">Real Estate <br> Sales<span class="material-symbols-outlined" id="ls-service">
                        account_balance
                        </span></span>
                    <br>
                    <h3 class="grid-2-text">We handle both residential and income property sales. Our real estate agents have years of experience and have your best interest at heart for maximizing your investment</h3>
                </div>
            </div>
            <div class="card grid">
                <div class="grid-1 g3">
                    <span class="icon icon-3">Shared Investments<span class="material-symbols-outlined" id="ls-service">
                        sell
                        </span></span>
                    <br>
                    <h3 class="grid-3-text">With our crowdfunding and investors strategy, we bring real estate investment to everyone, making high returns real estate investments available to everyone.</h3>
                </div>
            </div>
        </div>
    </section>
    <!--Latest Properties-->
    <footer class="fotter pages">
        <div class="footer-top-container">
            <div class="grids">
                <h2 class="foter-heading">Mosun Homes and Realtors</h2>
                <div class="description-footer">If you don’t own a home, buy one. If you own a home, buy another one. If you own two homes, buy a third.</div>
                <div><span class="phone-footer" style="color: #2ECA6A;">Phone: &nbsp;</span>+2349137245058</div>
                <div><span class="mail-footer"  style="color: #2ECA6A;">Email: &nbsp;</span>info@mosunhomes-realtors.com</div>
            </div>
            <div class="grids">
                <h2 class="foter-heading">The Company</h2>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Site Map</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Legal</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Affiliate</div>
                <div><span class="material-symbols-outlined">
                        chevron_right
                    </span>Privacy Policy</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="menu-foot">
                <ul>
                    <li><a href="{% url 'blog:index' %}" class="home-footer">Home</a></li>
                    <li><a href="{% url 'blog:about' %}" class="home-footer">About</a></li>
                    <li><a href="{% url 'blog:portfolio' %}" class="home-footer">Property</a></li>
                    <li><a href="{% url 'blog:contact' %}" class="home-footer">Contact</a></li>
                </ul>
            </div>
        </div>
        <br>
        <h3 class="copyright">Copyright &copy; 2021 Mosun Homes Realtors Limited. All rights reserved</h3>
    </footer>
    <div id="preloader"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../static/js/script.js"></script>
    <script>
        function autoplayCarousel() {
            const carouselEl = document.getElementById("carousel");
            const slideContainerEl = carouselEl.querySelector("#slide-container");
            const slideEl = carouselEl.querySelector(".slide");
            let slideWidth = slideEl.offsetWidth;
            // Add click handlers
            document.querySelector("#back-button")
                .addEventListener("click", () => navigate("backward"));
            document.querySelector("#forward-button")
                .addEventListener("click", () => navigate("forward"));
            document.querySelectorAll(".slide-indicator")
                .forEach((dot, index) => {
                    dot.addEventListener("click", () => navigate(index));
                    dot.addEventListener("mouseenter", () => clearInterval(autoplay));
                });
            // Add keyboard handlers
            document.addEventListener('keydown', (e) => {
                if (e.code === 'ArrowLeft') {
                    clearInterval(autoplay);
                    navigate("backward");
                } else if (e.code === 'ArrowRight') {
                    clearInterval(autoplay);
                    navigate("forward");
                }
            });
            // Add resize handler
            window.addEventListener('resize', () => {
                slideWidth = slideEl.offsetWidth;
            });
            // Autoplay
            const autoplay = setInterval(() => navigate("forward"), 1500);
            slideContainerEl.addEventListener("mouseenter", () => clearInterval(autoplay));
            // Slide transition
            const getNewScrollPosition = (arg) => {
                const gap = 9;
                const maxScrollLeft = slideContainerEl.scrollWidth - slideWidth;
                if (arg === "forward") {
                    const x = slideContainerEl.scrollLeft + slideWidth + gap;
                    return x <= maxScrollLeft ? x : 1;
                } else if (arg === "backward") {
                    const x = slideContainerEl.scrollLeft - slideWidth - gap;
                    return x >= 0 ? x : maxScrollLeft;
                } else if (typeof arg === "number") {
                    const x = arg * (slideWidth + gap);
                    return x;
                }
            }
            const navigate = (arg) => {
                slideContainerEl.scrollLeft = getNewScrollPosition(arg);
            }
            // Slide indicators
            const slideObserver = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const slideIndex = entry.target.dataset.slideindex;
                        carouselEl.querySelector('.slide-indicator.active').classList.remove('active');
                        carouselEl.querySelectorAll('.slide-indicator')[slideIndex].classList.add(
                            'active');
                    }
                });
            }, {
                root: slideContainerEl,
                threshold: .1
            });
            document.querySelectorAll('.slide').forEach((slide) => {
                slideObserver.observe(slide);
            });
        }
        autoplayCarousel();
    </script>
</body>
</html>