{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Mosun Homes & realtors</title>
</head>
<body>
    <div class="container">
        <header>
            <!--The Logo-->
            <div class="mainlogo">
                <div class="headerimage">
                    <img class="mhr" src="{% static 'img/MHR.svg' %}" alt="" srcset="">
                </div>
                <div class="headerimage">
                    <img class="mosun" src="{% static 'img/MOSUN HOMES & REALTORS LIMITED.svg' %}" alt="" srcset="">
                </div>
            </div>
            <nav class="nav_bar">
                <span class="navbar-toggle" id="js-nav_bar-toggle">
                    <i class="fa fa-bars"></i>
                </span>
                <ul class="main_nav" id="js-menu">
                    <li><a class="nav_links" href="{% url 'blog:index' %}">HOME</a></li>
                    <li><a class="nav_links" href="{% url 'blog:about' %}">ABOUT</a></li>
                    <li><a class="nav_links" href="{% url 'blog:portfolio' %}">PORTFOLIO</a></li>
                    <li><a class="nav_links" href="{% url 'blog:contact' %}">CONTACT</a></li>
                </ul>
            </nav>
        </header>
        <div class="headerimage"> 
            <img class="home" src= "{% static 'img/bailey-anselme-Bkp3gLygyeA-unsplash 1.png' %}" alt="" srcset="" width="100%">
        </div>
        <div class="service">
            <h1>OUR SERVICES</h1>
        </div>
        <div class="servicecontainer">
            <div class="servicesdetail box">
                <img class="homeimage" src="{% static 'img/homeimage.svg' %}" alt="" srcset="">
                <h2>Property management</h2>
                <h4>We pride ourselves in managing residential and business properties for our owners. Our property manager agents work with all of our owners to achieve the best results.</h4>
            </div>
            <div class="servicesdetail1 box">
                <img class="homeimage" src="{% static 'img/homeimage.svg' %}" alt="" srcset="">
                <h2>Real estate sales</h2>
                <h4>We handle both residential and income property sales. Our real estate agents have years of experience and have your best interest at heart for maximizing your investment.</h4>
            </div>
            <div class="servicesdetail2 box">
                <img class="homeimage" src="{% static 'img/homeimage.svg' %}" alt="" srcset="">
                <h2>Shared investments</h2>
                <h4>With our crowdfunding and investors strategy, we bring real estate investment to everyone, making investments high returns real estate investments available to everyone.</h4>
            </div>
        </div>
        <footer>
            <h3>Copyright &copy; 2021 Mosun Homes Realtors Limited. All rights reserved</h3>
            <div class="social_links">
                <a href="#"><img src="{% static 'img/twiter.svg' %}" alt="" srcset=""></a>
                <a href="https://www.instagram.com/mosunmolahomes/" target="_blank"><img src="{% static 'img/instagram.svg' %}" alt="" srcset=""></a>
                <a href=""><img src="{% static 'img/facebook.svg' %}" alt="" srcset=""></a>
            </div>
            <div class="footerlogo">
                <img class="footerimg" src="{% static 'img/Group 33.svg' %}" alt="" srcset="">
            </div>
        </footer>
    </div>
    <script async src="{% static '/js/index.js' %}" type="text/javascript"></script>
    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>