/*Assigning the fonts*/
:root {
    --green: #2ECA6A;
    --headerfont: 40px;
  }
  
  * {
   
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    display: grid;
    margin: 0 auto;
    padding: 30px 0;
    position: fixed;
    overflow: auto;
    margin-top: -10px;
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 1px 2px 15px rgba(100, 100, 100);
    width: 100%;
    text-decoration: none;
    z-index: 1000;
  }
  .search-mobile{
    display: none;
  }
  #text {
    display: none;
  }
  
  nav ul {
    margin-left: 1px;
    font: 16px poppins, sans-serif;
  
  }
  .nav-container{
    height: 40px;
    padding:45px;
  }
  
  nav ul li {
    display: inline;
    position: relative;
  }
  .ham-container{
    display: none;
  }
  nav ul li::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 0;
    height: 2.2px;
    background-color: var(--green);
    transition: width .3s ease-in-out;
  }
  
  nav ul li:not(.list1, .list7):hover::after {
    width: 60%;
  }
  
  .list7 img {
    width: 25px;
    vertical-align: middle;
    margin-left: 150px;
    background-color: rgb(191, 63, 191);
    filter: invert(100%);
    padding: 4px 8px;
    border-radius: 3px;
  }
  
  .home-img{
    width:100%;
    object-fit: cover;
    height: 100%;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav ul .active::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 60%;
    height: 2.2px;
    background-color: var(--green);
    transition: width .3s ease-in-out;
  }
  
  nav ul li a {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    /* /* top: -15px; */
    margin-left: 40px;
  }
  
  nav ul li a:hover {
    text-decoration: none;
  }
  
  /* .search-btn:hover{
    background-color: rgb(184, 76, 184);
    filter: invert(100%);
  } */
  /* ======Search Menu========== */
  .box-collapse {
    background: white;
    position: fixed;
    overflow: auto;
    left: 88pc;
    float: right;
    width: 1000px;
    height: 700px;
    padding: 20px;
    z-index: 1000;
  }
  
  .row {
    display: grid;
  }
  
  .title-box-d {
    display: flex;
  }
  
  .title-d {
    font-size: 30px;
    margin-left: 55px;
    padding-top: 15px;
  }
  
  .title-d::after {
    content: "";
    width: 8%;
    height: 4px;
    position: absolute;
    top: 75px;
    left: 80px;
    background-color: #2ECA6A;
    margin-top: 0;
  }
  
  .close-box {
    margin-left: 250px;
    margin-top: 10px;
  }
  .close-box2{
    display: none;
  }
  
  .close-buttton1 {
    margin-left: 20px;
  }
  
  .form-a {
    margin-top: -20px;
  }
  
  .row {
    padding: 50px;
    margin: 0 auto;
  }
  
  .form-group {
    display: grid;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 40px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group .kw {
    width: 500px;
    padding: 3px;
    padding-left: 5px;
    height: 50px;
    border-width: 1px;
    border-color: gray;
    color: gray;
    font-size: 18px;
  }
  
  .form-group select,
  input:not(.kw) {
    color: gray;
    font-size: 18px;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    width: 250px;
    height: 50px;
  }
  
  .first-column {
    display: flex;
  }
  
  .second-column {
    display: flex;
  }
  
  .third-column {
    display: flex;
  }
  
  .btn-sp {
    padding: 25px 20px 25px 20px;
    border-style: hidden;
    background: #2eca6a;
    width: 220px;
    font-size: 16px;
    margin-left: 9px;
    margin-top: 25px;
    text-align: center;
  }
  
  .btn-sp:hover {
    background-color: black;
    color: white;
    transition: .3s;
  }
  
  /*Carousel slider*/
  /*==================================*/
  /* .slider-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
  .slider-image-container{
    margin-right: 100px;
    width: 100%;
  }
  .slide-imag{
    width: 1000px;
    height: auto;
  } */
  .carousel_info{
    position: absolute;
    display: grid;
    z-index: 200;
    justify-content: space-between;
    top: 130px;
    left: 100px;
    text-decoration: none;
    color: white;
  }
  .ctext{
    font-size: 17px;
  }
  .container_text:not(.ctext3){
    margin-top: 100px;
    font-size: 50px;
  }
  .num{
    color: #2ECA6A;
  }
  .ctext3{
    text-align: center;
    width: 200px;
    margin-top: 90px;
    font-size: 23px;
    padding: 12px 6px 12px 6px;
    border-color: var(--green);
    border-radius: 25px;
    border-width: 2px;
    border-style: groove;
  }
  #carousel {
    overflow-x: hidden;
    top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
  }  
  .slide-indicators {
    color: white;
    position: relative;
    top: -100px;
    left: 400px;
    display: flex;
    justify-content: center;
  }
  .slide-indicator {
    height: 50px;
    width: 50px;
    display: flex;
    justify-items: center;
    cursor: pointer;
    color: #f2f2f2;
  }
  .slide-indicator:after {
    content: "";
    background-color: #2ECA6A;
    height: 13px;
    margin-top: 10px;
    width: 42px;
  }
  .slide-indicator.active:after,
  .slide-indicator:hover:after {
    background-color: rgb(255, 255, 255);
  }
  .slide-banner {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 15px;
    font-size: 2.5vw;
  }
  .slide-banner a {
    color: #a60000;
  }
  #slide-container {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .slide {
    scroll-snap-align: center;
    position: relative;
    min-width: 100%;
    padding-top: 50%;
  }
  .arrow {
    display: none;
    color: #ffffff;
    height: 25px;
    width: 20px;
    background-color: #000000;
    position: absolute;
    padding: 15px;
    opacity: .3;
    cursor: pointer;
  }
  .arrow.back {
    left: 10px;
    top: 10px;
  }
  .arrow.forward {
    right: 10px;
    top: 10px;
  }
  .arrow:hover {
    opacity: 1;
  }
  
  
  /*Slider ends here*/
  /*========================*/
  
  .logo {
    left: 55px;
    position: relative;
  
  }

  .list{
    position: absolute;
    right: 75px;
    top:50px;
  }
  
  .logo-text {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    padding-left: 85px;
    position: relative;
    left: -105px;
    z-index: 100;
    overflow: visible;
  }
  
  .logo-text-2 {
    font-weight: 800;
    color: var(--green);
  }
  
  
  /*Our service/*
    /*======================*/
  
  .section-services {
    margin-top: 20px;
    padding: 150px 60px;
    height: 60%;
  }
  
  .service-header {
    position: relative;
    font-size: 45px;
    top: -39px;
    left: 12px;
  }
  .service-header::after{
    content: " ";
    position: absolute;
    background-color: #2ECA6A;
    width:150px;
    top: 60px;
    left: -20px;
    height: 3px;
  }
  
  .section-card {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
  }
  #ls-service{
    color: #2ECA6A;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 300;
  }
  
  .card .grid-1 {
    display: grid;
    padding: 20px;
    border-radius: 20px;
  }
  
  .card .grid-1 h4 {
    color: gray;
    font-weight: 400;
  }
  
  .icon {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
  }

  /* Latest properties */
  /* ====================== */
  .container_div_properties {
    padding: 0 7pc 0 7pc;
    margin-top: -15px;
    display: grid;
    transition-duration: .5s;
  }
  
  .container_div_properties .properties-heading {
    font-size: var(--headerfont);
  }
  
  .container_div_properties .properties-container-card {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
  }
  
  .p1 {
    display: inline;
    width: 700px;
    height: 400px;
    background: url(../img/property-3.jpg);
    background-size: contain;
    overflow-y: hidden;
    background-repeat: no-repeat;
    animation-duration: .5s;
    transition-duration: .5s;
  }
  
  .p1 .properties-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .p1 .properties-info .ptext2:not(num) {
    color: white;
  }
  
  .p1 .properties-info .ptext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .p1 .properties-info .ptext2 {
    font-size: 20px;
  }
  
  .p1 .properties-info .ptext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* =================== */
  .p2p {
    margin-left: 40px;
    margin-right: 20px;
    width: 750px;
    height: 400px;
    background: url(../img/property-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .p2p .properties-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .p2p .properties-info .ptext2:not(num) {
    color: white;
  }
  
  .p2p .properties-info .ptext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .p2p .properties-info .ptext2 {
    font-size: 20px;
  }
  
  .p2p .properties-info .ptext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* ======================== */
  .p3p {
    margin-left: 20px;
    width: 720px;
    height: 400px;
    left: 200px;
    background: url(../img/property-6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .p3p .properties-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .p3p .properties-info .ptext2:not(num) {
    color: white;
  }
  
  .p3p .properties-info .ptext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .p3p .properties-info .ptext2 {
    font-size: 20px;
  }
  
  .p3p .properties-info .ptext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* ================= */
  .p4p {
    overflow-y: hidden;
    transition-duration: 1s;
    display: none;
    margin-left: 20px;
    width: 0;
    height: 400px;
    background: url(../img/property-8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: moveright;
    animation-duration: .3s;
    animation-iteration-count: 1;
  }
  
  .p4p .properties-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .p4p .properties-info .ptext2:not(num) {
    color: white;
  }
  
  .p4p .properties-info .ptext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .p4p .properties-info .ptext2 {
    font-size: 20px;
  }
  
  .p4p .properties-info .ptext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  .properties-slide {
    display: flex;
    justify-content: center;
  }
  
  .properties-slide .active {
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 40px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    background-color: #2ECA6A;
  }
  
  .properties-slide .ps2 {
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 20px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: .1px;
    color: green;
    background-color: black;
  }
  
  /* =================Properties End=================== */
  
  /* Best Agents */
  .image-area
  {
      /* top: 50%;
      left: 50%; */
      /* transform: translate(-50%, -50%); */
  
  }
  
  .img-wrapper
  {
      width: 300px;
      height: 400px;
      position: relative;
      overflow: hidden;
  }
  
  .img-wrapper:before
  {
      content: '';
      position: absolute;
      top: 0;
      left: 180%;
      height: 100%;
      width: 100%;
      background: rgba(255,255,255,.3);
      z-index: 1;
      transform: skew(45deg);
      transition: .5s;
  }
  
  .img-wrapper:hover:before
  {
      left: -180%;
  }
  
  .img-wrapper img
  {
      height: 400px;
      width: 450px;
      filter: grayscale(100%);
      transition: 2s;
  }
  .img-wrapper:hover img
  {
      filter: grayscale(0%);
      transform: scale(1.1);
  }
  
  .img-wrapper h2
  {
      background: #2ECA6A;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding: 8px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: perspective(500px) rotateY(90deg);
      transform-origin: right;
      transition: 1s;
  }
  
  .img-wrapper:hover h2
  {
      transform: perspective(300px) rotateY(0deg);
  }
  
  .img-wrapper ul
  {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      background: rgba(255,255,255,0);
  }
  
  .img-wrapper ul li
  {
      background: #333;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      transform: perspective(800px) rotateY(90deg);
      transition: .5s;
      transform-origin: left;
  }
  
  .img-wrapper:hover ul li
  {
      transform: perspective(800px) rotateY(0deg);
  }
  
  .img-wrapper:hover ul li:nth-child(1)
  {
      transition-delay: .2s;
  }
  
  .img-wrapper:hover ul li:nth-child(2)
  {
      transition-delay: .6s;
  }
  
  .img-wrapper:hover ul li:nth-child(3)
  {
      transition-delay: .8s;
  }
  
  .img-wrapper:hover ul li:nth-child(4)
  {
      transition-delay: 1s;
  }
  
  .img-wrapper ul li a
  {
      color: tomato;
      background: rgba(255,255,255,0);
  }
  
  .img-wrapper ul li i
  {
      color: #2ECA6A;
      background: rgba(255,255,255,0);
  }
  
  .img-wrapper ul li i:hover
  {
      color: #fff;
      background: rgba(255,255,255,0);
  }
  .overall-agent{
    margin-top: -100px;
    display: grid;
    padding: 40px;
    width: 100%;
  }
  .agents-heading{
    position: relative;
    margin-left: 190px;
    margin-top: 100px;
  }
  .container_div_agents {
    padding: 10pc 10pc 0 10pc;
    display: flex;
    justify-content: space-around;
    transition-duration: .5s;
  }
  
   .agents-heading {
    font-size: var(--headerfont);
  }
  .spec-img{
    max-width: 400px;
    max-height: 400px;
  }
  
  .container_div_agents .agents-container-card {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
  }
  
  .a1-img {
    display: inline;
    width: 400px;
    height: 400px;
    background: url(../img/agent-1.jpg);
    overflow-y: hidden;
    background-repeat: no-repeat;
    animation-duration: .5s;
    transition-duration: .5s;
  }
  
  .a1 .agents-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .a1 .agents-info .atext2:not(num) {
    color: white;
  }
  
  .a1 .agents-info .atext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .a1 .agents-info .atext2 {
    font-size: 20px;
  }
  
  .a1 .agents-info .atext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* ==========Second grid========= */
  .a2-img {
    margin-left: 40px;
    margin-right: 20px;
    width: 750px;
    height: 400px;
    background: url(../img/agent-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .a2a .agents-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .a2a .agents-info .atext2:not(num) {
    color: white;
  }
  
  .a2a .agents-info .atext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .a2a .agents-info .atext2 {
    font-size: 20px;
  }
  
  .a2a .agents-info .atext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* ===========Third gird============= */
  .a3-img {
    margin-left: 20px;
    width: 720px;
    height: 400px;
    left: 200px;
    background: url(../img/agent-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .a3a .agents-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .a3a .agents-info .atext2:not(num) {
    color: white;
  }
  
  .a3a .agents-info .atext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .a3a .agents-info .atext2 {
    font-size: 20px;
  }
  
  .a3a .agents-info .atext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  /* ===========Fourth grid=========== */
  .a4-img {
    overflow-y: hidden;
    transition-duration: 1s;
    display: none;
    margin-left: 20px;
    width: 0;
    height: 400px;
    background: url(../img/property-8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: moveright;
    animation-duration: .3s;
    animation-iteration-count: 1;
  }
  
  .a4a.agents-info {
    margin-top: 280px;
    padding: 12px;
  }
  
  .a4a .agents-info .atext2:not(num) {
    color: white;
  }
  
  .a4a .agents-info .atext2 .num {
    text-shadow: 0 0 1px black;
  }
  
  .a4a .agents-info .atext2 {
    font-size: 20px;
  }
  
  .a4a .agents-info .atext3 {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  .agents-slide {
    display: flex;
    justify-content: center;
  }
  
  .agents-slide .active {
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 40px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    background-color: #2ECA6A;
  }
  
  .agents-slide .as2 {
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 20px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: .1px;
    color: green;
    background-color: black;
  }
  
  /* Latest News
  .container_div_news{
    padding: 0 7pc 0 7pc;
    margin-top: 20px;
    display: grid;
    transition-duration: .5s;
   }
   .container_div_news .news-heading{
    font-size: 45px;
   }
  .container_div_news .news-container-card{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
   }
  
   .n1{
    display: inline;
    width: 700px;
    height: 400px;
    background:url(../img/property-3.jpg);
    background-size: contain;
    overflow-y: hidden;
    background-repeat: no-repeat;
    animation-duration: .5s;
    transition-duration: .5s;
  }
  .n1 .news-info{
    margin-top: 280px;
    padding: 12px;
  }
  .n1 .news-info .ntext2:not(num){
    color: white;
  }
  .n1 .news-info .ntext2 .num{
    text-shadow: 0 0 1px black;
  }
  .n1 .news-info .ntext2{
    font-size: 20px;
  }
  .n1 .news-info .ntext3{
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  .n2n{
    margin-left: 40px;
    margin-right: 20px;
    width: 750px;
    height: 400px;
    background:url(../img/property-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .n2n .news-info{
    margin-top: 280px;
    padding: 12px;
  }
  .n2n .news-info .ntext2:not(num){
    color: white;
  }
  .n2n .news-info .ntext2 .num{
    text-shadow: 0 0 1px black;
  }
  .n2n .news-info .ntext2{
    font-size: 20px;
  }
  .n2n .news-info .ntext3{
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  .n3n{
    margin-left: 20px;
    width: 720px;
    height: 400px;
    left: 200px;
    background:url(../img/property-6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .n3n .news-info{
    margin-top: 280px;
    padding: 12px;
  }
  .n3n .news-info .ntext2:not(num){
    color: white;
  }
  .n3n .news-info .ntext2 .num{
    text-shadow: 0 0 1px black;
  }
  .n3n .news-info .ntext2{
    font-size: 20px;
  }
  .n3n .news-info .ntext3{
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
    
  
  .n4n{
    overflow-y: hidden;
    transition-duration: 1s;
    display: none;
    margin-left: 20px;
    width: 0;
    height: 400px;
    background:url(../img/property-8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: moveright;
    animation-duration: .3s;
    animation-iteration-count: 1;
  }
  .n4n .news-info{
    margin-top: 280px;
    padding: 12px;
  }
  .n4n .news-info .ntext2:not(num){
    color: white;
  }
  .n4n .news-info .ntext2 .num{
    text-shadow: 0 0 1px black;
  }
  .n4n .news-info .ntext2{
    font-size: 20px;
  }
  .n4n .news-info .ntext3{
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #2ECA6A;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
  }
  .news-slide{
    display: flex;
    justify-content: center;
  }
  .news-slide  .active{
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 40px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    background-color:#2ECA6A;
  }
  .news-slide .ns2{
    margin-top: 20px;
    margin-right: 5px;
    content: "";
    width: 20px;
    height: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: .1px;
    color: green;
    background-color: black;
  } */
  /* Testemonial-grid */
  .testemonial-container {
    padding: 7pc 7pc 7pc 7pc;
    margin-top: 60px;
    margin-bottom: 50px;
    display: grid;
    transition-duration: .5s;
  }
  
  .testemonial-header {
    display: inline;
  }
  
  .testemonial-header .testemonial-header-text {
    font-size: var(--headerfont);
    position: relative;
    top: -5px;
  }
  
  .testemonial-header .testemonial-arrow-navigation {
    float: right;
    position: relative;
    margin-top: 20px;
  }
  
  .testemonial-grid-body {
    display: flex;
    justify-content: space-between;
  }
  
  .testemonial-grid-body .testemonial-grid-image {
    background-size: cover;
    width: 550px;
    height: 400px;
  }
  
  .testemonial-grid-block {
    display: grid;
    padding-bottom: 0;
    justify-content: space-between;
  }
  
  .testemonial-grid-block .testemonial-grid-block-quote {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    width: 50px;
    filter: invert();
    background: rgb(195, 82, 195);
    border-radius: 50%;
  }
  
  .testemonial-grid-block .testemonial-grid-block-text {
    text-align: left;
    border-radius: 20px;
    width: 450px;
    height: 77px;
    padding: 2pc 3pc 1pc 3pc;
    background-color: #f3f3f3;
    font-style: italic;
    font-weight: 100;
  }
  
  .testemonial-grid-block-profile {
    padding-top: 5px;
    overflow-y: hidden;
    display: flex;
    width: 100%;
  }
  
  .testemonial-grid-block-profile .testemonial-grid-profile-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .testemonial-grid-block-profile .name {
    position: relative;
    overflow-y: hidden;
    top: 40px;
    left: 10px;
  }
  
  /* ==================================== */
  #preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #2eca6a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /* =========================== */
  /* Testemonial End */
  /* Animations */
  @keyframes moveright {
    from {
      width: 0;
    }
  
    to {
      width: 100;
    }
  }
  
  @keyframes blink {
    from {
      display: none;
    }
  
    to {
      display: grid;
  
    }
  }
  
  /* ================== */
  
  
  /* ============About section============== */
  .section_about {
    padding: 20px 150px;
    margin-top: 80px;
  }
  
  .header_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .header_text {
    /* vertical line */
    position: absolute;
    border-left: 3px solid #2eca6a;
    height: 150px;
    padding-left: 40px;
    margin-top: 40px;
    font-size: 40px;
    width: 650px;
  }
  
  .home-about {
    vertical-align: middle;
    margin-top: 10px;
  }
  
  .about-about {
    color: gray;
  }
  
  .about-image-1 {
    width: 75%;
    height: 75%;
    margin-left: 5%;
  }
  
  .img-text-about {
    position: absolute;
    margin-top: -230px;
    background-color: #2eca6a;
    color: black;
    padding: 50px 50px;
  }
  
  .img-text-about:not(.img-text-about-1) {
    font-size: 30px;
  }
  
  .img-text-about-1 {
    font-size: 18px;
    color: gray;
    font-weight: 50;
  }
  
  .hyphen {
    position: relative;
    top: -15px;
  }
  
  .container-sec3 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  .sec3-about-img{
    object-fit: cover;
  }
  
  .membtext{
    padding: 78px 0px 0px 50px;
    text-align: left;
    width: 520px;
    font-weight: 200;
    font-size: 20px;
    word-wrap: break-word;
    word-spacing: 2px;
  }

  .membspace{
    padding-bottom: 10px;
  }

  .team_member{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .exclusive {
    font-size: 30px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 40px;
  }
  
  .exclusive::after {
    content: "";
    position: absolute;
    width: 26%;
    height: 3px;
    background-color: #2eca6a;
    top: 90px;
  }
  
  .randomtext {
    width: 300px;
  }
  
  .randomtext2 {
    width: 620px;
    font-weight: 200;
    font-size: 18px
  }
  
  .abt-img3 {
    width: 490px;
    height: 620px;
  }
  
  .team{
    margin-top: 120px;
    display: grid;
  }
  .team_header{
    margin: 70px 0;
    font-size: 30px;
    color: #2eca6a;
  }
  .team-pics{
    margin-top: 30px;
    width: 340px;
    height: 390px;
    margin-left: 6px;
  }
  
  
  
  /* ===============Property grid================ */
  .g-p{
    font-size: 20px;
    color: gray;
    font-weight: 200;
  }
  .property{
    padding: 20px 200px;
    margin-top: 50px;
  }
  .select-box{
    height: 100px;
    float: right;
    top: -30px;
  }
  #select-box-box{
    position: relative;
    margin-left: 300px;
  }
  /* ============card================== */
  .property-grid-desktop{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
  }
  .img-container-property{
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .property-image{
    margin-right: 20px;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    top: 0;
    margin-top: 0;
    width: 300px;
    height: 350px;
    filter: contrast(1.2);
    transition-duration: 1s;
  }

    .contact_container{
        text-align: left;
        padding: 20px;
        width: 100%;
        padding: 12px 0px 24px 24px;
        margin: 0;
        border-radius: 4px;
    }

    .cont{
        padding: 20px;
        font-size: 40px;
        text-align: center;
    }

    .cont_mo{
        text-align: left;
        font-size: 30px;
        padding: 10px 0;
    }

    .canon{
        text-align: left;
        padding: 10px 0;
        font-size: 20px;
    }

    .mail{
        text-align: left;
        padding: 10px 0;
        font-size: 20px;
    }

    img.home{
        height: 200px;
        object-fit: cover;
    }

    .phone{
        text-align: left;
        padding: 10px 0;
        color: #2ECA6A;
        font-size: 25px;
    }
    .btn-warning {
        color: #f5f5f5;
        background-color: #d81812;
        border-color: #fc8080;
    }
    
    .container {
        width: 70%;
        padding: 20px 150px;
        margin: 0;
        border-radius: 4px;
    }
    
    
    label{
        font-size: 16px;
        margin-left: 12px;
    }
    
    
    input[type=text],input[type=email], textarea {
        width: 90%;
        padding: 12px;
        border: 5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    #divided{
        width: 45%;
    }
    
    input[type=text]:focus,input[type=email]:focus, textarea:focus {
        border: 1px solid green;
    }
    
    
    input[type=submit] {
        background: #d81812;
        margin: 0 auto;
        outline: 0;
        color: rgb(238, 238, 238);
        border: 0;
        padding: 12px 24px !important;
        border-radius: 4px;
        transition: all ease-in-out 0.1s;
        position: relative;
        display: inline-block;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    
    input[type=submit]:focus {
        background: #A5D6A7;
        color: whitesmoke;
    }
    
    
    input[type=submit]:hover {
        background: #2196F3;
    }
  .card1{
    overflow-y: hidden;
    display: block;
    width: 380px;
    height: 530px;
  }
  .last3{
    margin-top: -140px;
  }
  .property-image:hover{
    transform: scale(1.3);
    transition-duration: 3s;
  } 
  .card1-content{
    overflow-y: hidden;
    display: grid;
    padding: 30px;
    position: relative;
    top: -300px;
  }
  .card-content-x{
    font-size: 30px;
    color: white;
    width: 220px;
    text-shadow: 0 0 2px black;
  }
  .price-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-style: solid;
    border-width: 2px;
    padding: 15px 5px;
    text-align: center;
    border-radius: 40px;
    width: 150px;
    border-color: #2eca6a;
    text-shadow: 0 0 2px rgb(0, 0, 0);
  }

  
  .click-to-view{
    color: white;
    text-decoration: none;
    margin-top: 8px;
    text-shadow: 0 0 2px black;
  }
  .end-card{
    transition-duration: 2s;
    padding: 10px 20px;
    position: relative;
    background-color: #2eca6a;
    margin-top: -39px;
    display: block;
    width: 260px;
    height: 55px;
    overflow-y: hidden;
    top: -15pc;
    left: 30px;
    margin-left: -30px;
  }
  .end-card-over{
    transition-duration: 2s;
    padding: 10px 20px;
    background-color: #2eca6a;
    margin-top: -39px;
    display: block;
    position: absolute;
    width: 300px;
    height: 55px;
    overflow-y: hidden;
    top: -70px;
    margin-left: -30px;
  }
  .end-card-1 li{
    display: inline;
    padding-right: 10px;
  }
  .end-card-2 li{
    padding-right: 10px;
    display: inline;
    margin-right: 6px;
  }
  .end-card li{
    list-style-type: none;
  }
  footer{
    background-color:#f3f3f3;
     padding: 140px 140px; 
  
  }
  .footer-bottom{
    margin-top: 50px;
    display: grid;
    text-align: center;
  }
  .menu-foot ul{
    word-spacing: 10px;
  }
  .menu-foot ul li{
    display: inline;
  }
  .menu-foot ul li a {
    text-decoration: none;
    color: black;
  }
  .footer-top-container{
    display: flex;
    justify-content: space-between;
  }
  .grids{
    position: relative;
  margin-right: 20px;
    margin: 0 auto;
    display: grid;
    height: 200px;
  }

  .copyright{
    text-align: center;
    color: #2ECA6A;
  }
  .description-footer{
    width: 325px;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' var(--green),
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined{
    overflow-y: hidden;
    color: #2ECA6A;
  }